@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Snippet&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Chettan+2&family=Baloo+Thambi+2:wght@400;600&family=Snippet&display=swap');

@font-face{
    font-family: piola1;
    src: url(./Fonts/EBGaramond-Italic-VariableFont_wght.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: comfortaa;
    src: url(./Fonts/Comfortaa-VariableFont_wght.ttf)
}

*{
    margin: 0;
    padding: 0;
}

.app{
    font-family: 'Baloo Da 2', cursive;
    font-size: 15px;
}

.nav-bar{
    display: flex;
    height: 50px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    background-color: #f3f3f3;
}

.nav-bar .nav-logo{
    font-family: 'Snippet', sans-serif;
    font-size: 24px;
}

.nav-bar a img{
    height: 30px;
    width: 30px;
}

.head-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Snippet', sans-serif;
}

.head-container .head-title{
    font-size: 0px;
    margin: 10px 0px;
}

.head-container .head-description{
    margin: 20px;
    text-align: center;
    line-height: 23px;
}

.head-container .line{
    margin-top: 30px;
    width: 100%;
    border-bottom: 1px solid #45454545;
}

.post-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    background: none;
    outline: none;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 0px #45454545;
    transition: all 0.06s;
    cursor: pointer;
}

.post-btn:active{
    transform: translate(3px, 4px);
    box-shadow: 0px 0px 0px 0px;
}

.post-container{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
}

.post{
    display: flex;
    flex-direction: column;
    font-family: 'Baloo 2';
    width: 60vw;
    margin: auto;
    margin-top: 40px;
    text-align: justify;
    border: 1px solid #45454525;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 5px 5px 8px 5px #45454545;
}

.post .post-titulo{
    font-size: 25px;
    margin-bottom: 7px;
}

.post .post-subtitulo{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-style: italic;
}

.post .post-texto{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
}

.app-form{
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 0px;
    animation: mobile 0.5s;
    animation-timing-function: ease-out;
}

.form-label{
    font-family: cursive;
    font-style: italic;
    align-self: start;
    margin-top: 10px;   
}

.form-input, .form-textarea{
    width: 95%;
    padding: 10px;
    outline: none;
    margin: 3px;
    border: 1px solid #45454545;
    border-radius: 5px;
}

.form-input::placeholder{
    color: #56565653;
    font-style: italic;
}

.form-textarea::placeholder{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    color: #56565653;
}

.form-btn{
    background: none;
    border: 1px solid #45454569;
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 3px 3px 2px 0px #45454545;
    width: 60%;
    color: #565656c0;
}


.form-btn:focus{
    outline: none;
}

.form-btn:active{
    
    transform: translate(3px, 4px);
    box-shadow: 0px 0px 0px 0px;
}

.form-btn:hover{
    border: 1px solid #aa9dce;
}

.icon{
    margin: 5px;
}

.labeling{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: comfortaa;
    font-size: 15px;
    font-style: italic;
    /* text-decoration: underline; */
    text-align: center;
    margin-top: 20px;
}

.error-message{
    color: tomato;
    font-size: 10px;
    font-style: italic;
}

.app-footer{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(240, 254, 255, 0.459);
}

@keyframes mobile {
    0% {
        width: 10%;
    }
    10% {
        width: 40%;
    }
}

@media only screen and ( min-width: 600px) {
    @keyframes appear {
        0% {
            width: 10%;
        }
        100% {
            width: 25%;
        }
    }
    
    .app-form{
        width: 25%;
        animation: appear 0.5s;
        animation-timing-function: ease-out;
    }

    .form-input, .form-textarea{
        width: 100%;
    }

    .form-label{
        align-self: flex-start;
    }
}